<div class="company-profile-policies-container">
  <div class="header">
    <h2>{{ 'General Policies' | translate }}</h2>
    <div>
      <button pButton class="form-button-red normal">{{ 'Add policy' | translate}}</button>
    </div>
  </div>
  <div class="content">
    <div class="note-placeholder">
      <p>Add your company policies such as: Equal Opportunities, Disciplinary Procedure, or Working From Home Policy.
        <span>
          View
          free policy templates.
        </span>
      </p>
    </div>
  </div>
</div>