@import "src/styleguide/index";

.information-report-container {
  .form-buttons {
    @include form-buttons;
    justify-content: flex-start;

    .form-button-cyan {
      @include form-button-cyan;
    }

    .form-button-default {
      @include form-button-default;
    }
  }

  .content {
    max-width: 995px;
    @include export;

    .table-header-actions-container {
      width: 100%;
    }
  }
}

::ng-deep {
  .information-report-container {
    .p-multiselect {
      @include multiselect;

      .p-multiselect-token-label,
      .p-multiselect-label .p-icon-wrapper {
        color: var(--colour-element-white)
      }

      .p-multiselect-header {
        >div:first-child {
          display: none;
        }
      }
    }

    .p-datatable {
      @include datatable;
      margin-right: 0;

      .p-datatable-tbody>tr>td {
        width: 173px;
        max-width: 173px;
        min-width: 173px;
      }

      p-paginator {
        @include paginator;

        .p-paginator {
          justify-content: flex-end;
          padding: 0.5rem;

          .p-paginator-pages .p-paginator-page.p-highlight {
            background-color: var(--colour-element-cyan-1);
            color: var(--colour-element-white);
          }
        }

        .p-dropdown {
          min-width: 40px;
        }
      }
    }

    span.p-calendar {
      @include input-calendar;
    }

    .filter-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .form-input-field {
        &:nth-child(3n + 1),
        &:nth-child(3n + 2),
        &:nth-child(3n + 3) {
          margin-right: 30px;
        }

        &:last-child > div {
          height: 78px;
        }
      }
    }

    .p-dropdown {
      @include input-dropdown;
    }

    .form-input-field {
      @include form-input-field;
      width: 32%;

      &.w-auto {
        width: 60%;
      }
    }
  }
}