@mixin textarea-field {
  width: 100%;
  transition: opacity 0.28s ease;
  min-height: 90px !important;
  resize: none; 
  
  &.orange {
    &:hover,
    &:focus,
    &:active {
      border-color: var(--colour-element-orange-1);
      box-shadow: none;
    }
  }

  &.red {
    &:hover,
    &:focus,
    &:active {
      border-color: var(--colour-element-red-0);
      box-shadow: none;
    }
  }
}