@import "src/styleguide/index";

.employee-bulk-import-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 685px;

    .download-steps {
      margin-top: 30px;

      h3 {
        margin: 0;
      }

      .form-input-field {
        width: 100%;
      }

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 15px;
        justify-content: space-between;

        &:first-child {
          background-color: var(--colour-element-white-bg-1);
        }

        &:last-child {
          border: 2px dashed var(--colour-element-gray-3);
        }

        div {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding: 15px;

          span {
            color: var(--colour-element-gray-2);
            font-size: 14px;
          }
        }

        .icon {
          font-size: 55px;
          color: var(--colour-element-green-1);
        }
      }
    }
  }

  .bulk-import-view-completed,
  .bulk-import-view-calculating {
    h5 {
      margin-top: 20px;
      margin-bottom: 0;
    }

    p {
      margin: 0 0 10px 0;
      font-size: 14px;
      color: var(--colour-element-black-1);
    }

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        &:first-child {
          font-size: 14px;
          margin-right: 20px;
        }

        &:last-child.check {
          font-weight: 700;
          color: var(--colour-element-green-1);
        }
      }
    }
  }

  .form-button-success {
    @include form-button-success;
    margin-right: 10px;
  }
}

::ng-deep {
  .employee-bulk-import-container {
    .progress-bar-container {
      width: 100%;

      .p-progressbar {
        white-space: nowrap;
      }

      .p-progressbar-determinate .p-progressbar-value-animate {
        transition: width 0.1s ease-in-out;
      }
    }

    p-fileupload {
      @include file-upload;
      width: 100%;

      .p-fileupload .p-fileupload-content {
        padding: 2rem 1rem;
      }
    }

    .p-inputswitch {
      @include input-switch;
    }

    .loading-container {
      @include loader;
      justify-content: center !important;
      min-height: 350px;
    }
  }
}
