<div class="company-profile-files-container">
  <div class="header">
    <h2>{{ 'Company Files' | translate }}</h2>
    <div>
      <button pButton class="form-button-red-outlined normal">{{ 'Create category' | translate}}</button>
      <button pButton class="form-button-red normal">{{ 'Request file' | translate }}</button>
    </div>
  </div>
  <div class="content">
    <div class="file-picker-container">
      <span class="material-symbols-rounded">upload</span>
      <div>{{ 'Drag & drop your file here or' | translate }}</div>
      <button pButton class="form-button-red normal">{{ 'Browse files' | translate}}</button>
      <div>{{ 'or' | translate }}</div>
      <div>{{ 'add link' | translate }}</div>
    </div>
    <div class="list-items">
      <div>
        <h4>General</h4>
      </div>
      <div>
        <h4>Warnings</h4>
        <button pButton class="form-button-default small">{{ 'Edit' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="description">
    <div>{{ 'Store company documents here — from handbooks to health and safety guides —' | translate }}</div>
    <div>{{ 'and share them with the entire company or specific people.' | translate }}</div>
  </div>
</div>