<div class="payroll-edit-payslip-container">
  <div class="header">
    <h3>{{ 'PayRun' | translate }}</h3>
    <p-accordion [activeIndex]="0">
      <p-accordionTab [header]="'Filter' | translate">
        <div class="filter-container" [formGroup]="form">
          <div class="form-input-field w-auto">
            <div><span>{{ 'Employees' | translate }}</span></div>
            <p-multiSelect formControlName="employees" [options]="payrunEmployeeOptions" [filter]="true"
              [selectionLimit]="selectionLimit" [maxSelectedLabels]="maxSelectedLabels" optionLabel="label"
              optionValue="value" [placeholder]="'Select' | translate"
              styleClass="blue {{ form.get('employees').value?.length <= 2 ? 'h-40' : 'h-auto' }}" display="chip"
              [showClear]="true" (onChange)="onChangeEmployees($event)">
              <ng-template pTemplate="footer">
                <div class="ms-footer">
                  <b> {{ form.get('employees')?.value ? form.get('employees')?.value?.length : 0 }} </b>
                  <span>{{ 'item' | translate }} {{ (form.get('employees')?.value ? form.get('employees')?.value?.length
                    : 0)
                    > 1 ? 's' : '' }}
                    {{ 'selected' | translate }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
            <div class="error"></div>
          </div>
          <div class="form-input-field">
            <div><span>{{ 'PayslipStatus' | translate }}</span></div>
            <p-dropdown [options]="paySlipStatusOptions" formControlName="paySlipStatus" optionLabel="label"
              optionValue="value" [placeholder]="'Select' | translate" styleClass="blue" [showClear]="true"
              [filter]="true"></p-dropdown>
            <div class="error"></div>
          </div>
        </div>
        <div class="form-input-field">
          <div class="form-buttons">
            <button pButton class="form-button-blue normal loader" (click)="onFilter()">
              <i *ngIf="(isLoadingAsync() | async) === true" class="pi pi-spin pi-spinner"></i>
              <span *ngIf="(isLoadingAsync() | async) === false">{{ 'Filter' | translate }}</span>
            </button>
            <button pButton class="form-button-default normal" (click)="onReset()">{{ 'Reset' | translate }}</button>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="content">
    <div class="table-header-actions-container">
      <span for="approveAll">{{ headerToggleLabel | translate }}</span>
      <p-inputSwitch inputId="approveAll" [(ngModel)]="approveAll" (onChange)="onApproveAll($event)"
        styleClass="blue"></p-inputSwitch>
      <button pButton class="form-button-blue small" (click)="bulkDownloadModal = true">
        {{ 'BulkDownload' | translate }}</button>
    </div>
    <ng-container *ngIf="payrunEmployees?.length > 0; else loading">
      <p-table [value]="payrunEmployees" [scrollable]="true" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 20, 30, 50, 100]" styleClass="blue">
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'EmployeeNo' | translate }}</th>
            <th pSortableColumn="lastName">
              {{ (currentCountryISOCode === countryISOCodeType.MEX ? 'LastNames' : 'LastName') | translate }}
              <p-sortIcon field="lastName" />
            </th>
            <th pSortableColumn="firstName">
              {{ (currentCountryISOCode === countryISOCodeType.MEX ? 'FirstNames' : 'FirstName') | translate }}
              <p-sortIcon field="firstName" />
            </th>
            <th *ngIf="currentCountryISOCode === countryISOCodeType.PHL">{{'MiddleName' | translate }}</th>
            <th>{{ 'GrossPay' | translate }}</th>
            <th>{{ 'EmployeeTax' | translate }}</th>
            <th>{{ 'TotalDeductions' | translate }}</th>
            <th>{{ 'NetPay' | translate }}</th>
            <th>{{ 'PaymentMethod' | translate }}</th>
            <th *ngIf="selectedPayRun?.payRun?.status !== payRunStatusType.Completed">{{ 'Approved' | translate }}</th>
            <th *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed">
              {{ 'EmailPayslip' | translate }}
            </th>
            <th *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed 
              && currentCountryISOCode === countryISOCodeType.MEX">
              {{ 'DownloadXML' | translate }}</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr (click)="onRowEdit(row)">
            <td>{{ row?.number}}</td>
            <td>{{ row?.lastName}}</td>
            <td>{{ row?.firstName}}</td>
            <td *ngIf="currentCountryISOCode === countryISOCodeType.PHL">{{ row?.middleName}}</td>
            <td>{{ row?.grossAmount | currencySymbol}}</td>
            <td>{{ row?.taxAmount | currencySymbol}}</td>
            <td>{{ row?.deductionAmount | currencySymbol}}</td>
            <td>{{ row?.netAmount | currencySymbol}}</td>
            <td>{{ row?.paymentMethod}}</td>
            <td *ngIf="selectedPayRun?.payRun?.status !== payRunStatusType.Completed">
              <!-- note: check payrun status enums -->
              <div class="row">
                <p-inputSwitch [(ngModel)]="row.paySlipStatus" [trueValue]="1" [falseValue]="0"
                  (onChange)="onApprove($event, row?.employeeId)" styleClass="blue"></p-inputSwitch>
                <div *ngIf="row.paySlipStatus === runPayslipStatusType.Draft" tooltipPosition="top"
                  [pTooltip]="'ThisPayslipRequiresRecalculationBeforeItCanBeApproved' | translate">
                  <span class="material-symbols-rounded warning">warning</span>
                </div>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed 
            && currentCountryISOCode === countryISOCodeType.MEX">
              <div tooltipPosition="top" [pTooltip]="'Download' | translate">
                <!-- (click)="generatePayslipPDF( row?.employeeId)" -->
                <span class="material-symbols-rounded download" (click)="onDownloadPayRun(row)">download</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
            && ( row?.emailSendType === 'SendInProgress')">
              <!--note: this should be in enums -->
              <div tooltipPosition="top" [pTooltip]="'EmailSendInProgress5Minutes' | translate">
                <span class="material-symbols-rounded warning">warning</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
            && ( row?.emailSendType === 'NoEmailAddress')">
              <!--note: this should be in enums -->
              <div tooltipPosition="top" [pTooltip]="'NoEmailAddress' | translate">
                <span class="material-symbols-rounded warning">warning</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
            && ( row?.emailSendType === 'HasEmailAndNotSent')">
              <div tooltipPosition="top" [pTooltip]="'EmailPayslip' | translate">
                <!-- (click)="emailPayslip( row?.employeeId)" -->
                <span class="material-symbols-rounded send">send</span>
              </div>
              <div tooltipPosition="top"
                pTooltip="{{'NextPayslipWillBeSentTo' | translate }} {{ row?.email }} ({{'LimitedTo1ResendPerEmployeeDaily' | translate }})">
                <span class="material-symbols-rounded info">info</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
            && ( row?.emailSendType === 'HasEmailAndSentOldWay')">
              <div tooltipPosition="top" [pTooltip]="'EmailPayslip' | translate">
                <!-- (click)="emailPayslip( row?.employeeId)" -->
                <span class="material-symbols-rounded send">send</span>
              </div>
              <div tooltipPosition="top"
                pTooltip="{{'NextPayslipWillBeSentTo' | translate }} {{ row?.email }} ({{'LimitedTo1ResendPerEmployeeDaily' | translate }})">
                <span class="material-symbols-rounded info">info</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
              && ( row?.emailSendType === 'HasBeenSentAndEmailDifferent')">
              <div tooltipPosition="top" [pTooltip]="'EmailPayslip' | translate">
                <!-- (click)="emailPayslip( row?.employeeId)" -->
                <span class="material-symbols-rounded send">send</span>
              </div>
              <div tooltipPosition="top"
                pTooltip="{{'SentTo' | translate }} {{ row?.lastEmailSentEmailAddress}} {{'OnLowerCase' | translate }} {{ row?.lastEmailSentDate | date: 'dd MMM yyyy'}} {{ row?.lastEmailSentDate | date: '@ HH:mm'}} {{'NextPayslipWillBeSentTo' | translate }} {{ row?.email }} ({{'LimitedTo1ResendPerEmployeeDaily' | translate }})">
                <span class="material-symbols-rounded info">info</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
              && ( row?.emailSendType === 'HasBeenSentEmailTheSameAndSentBeforeToday')">
              <div tooltipPosition="top" [pTooltip]="'EmailPayslip' | translate">
                <!-- (click)="emailPayslip( row?.employeeId)" -->
                <span class="material-symbols-rounded send">send</span>
              </div>
              <div tooltipPosition="top"
                pTooltip="{{'SentTo' | translate }} {{ row?.lastEmailSentEmailAddress}} {{'OnLowerCase' | translate }} {{ row?.lastEmailSentDate | date: 'dd MMM yyyy'}} {{ row?.lastEmailSentDate | date: '@ HH:mm'}} {{'NextPayslipWillBeSentTo' | translate }} {{ row?.email }} ({{'LimitedTo1ResendPerEmployeeDaily' | translate }})">
                <span class="material-symbols-rounded info">info</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
              && ( row?.emailSendType === 'HasBeenSentEmailTheSameAndSentToday')">
              <div tooltipPosition="top"
                pTooltip="{{'SentTo' | translate }} {{ row?.lastEmailSentEmailAddress}} {{ row?.lastEmailSentDate | date: '@ HH:mm'}} ({{'DailyLimitReached' | translate }})">
                <span class="material-symbols-rounded info">info</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
              && ( row?.emailSendType === 'HasEmailAndLastFailed')">
              <div tooltipPosition="top" [pTooltip]="'EmailPayslip' | translate">
                <!-- (click)="emailPayslip( row?.employeeId)" -->
                <span class="material-symbols-rounded send">send</span>
              </div>
              <div tooltipPosition="top"
                pTooltip="{{'NextPayslipWillBeSentTo' | translate }} {{ row?.email }} ({{'LimitedTo1ResendPerEmployeeDaily' | translate }}) {{'LastSendFailed' | translate }}: {{ row?.payslipEmailStatusMessage | translate }}">
                <span class="material-symbols-rounded info">info</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
              && ( row?.emailSendType === 'NotSpecified')">
              <div tooltipPosition="top" [pTooltip]="'NotSpecified' | translate">
                <!-- (click)="emailPayslip( row?.employeeId)" -->
                <span class="material-symbols-rounded info">info</span>
              </div>
            </td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
              && currentCountryISOCode === countryISOCodeType.MEX">
              <div tooltipPosition="top" [pTooltip]="'DownloadXML' | translate">
                <!-- click)="generatePayslipXML( row?.employeeId)"  -->
                <!-- (click)="emailPayslip( row?.employeeId)" -->
                <span class="material-symbols-rounded download">download</span>
              </div>
            </td>
            <td>
              <div tooltipPosition="top" [pTooltip]="'Edit' | translate"> <!-- (click)="edit( row?.employeeId)"  -->
                <!-- (click)="emailPayslip( row?.employeeId)" -->
                <span class="material-symbols-rounded edit" (click)="onEdit(row)">edit_square</span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="2"></td>
            <td *ngIf="currentCountryISOCode === countryISOCodeType.PHL"></td>
            <td>{{ 'Total' | translate}}</td>
            <td>{{ grossAmountTotal?.toString() | currencySymbol }}</td>
            <td>{{ taxAmountTotal?.toString() | currencySymbol }}</td>
            <td>{{ deductionAmountTotal?.toString() | currencySymbol }}</td>
            <td>{{ netAmountTotal?.toString() | currencySymbol }}</td>
            <td></td>
            <td *ngIf="selectedPayRun?.payRun?.status !== payRunStatusType.Completed"></td>
            <td></td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed"></td>
            <td *ngIf="selectedPayRun?.payRun?.status === payRunStatusType.Completed
              && currentCountryISOCode === countryISOCodeType.MEX">
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="form-buttons">
        <button pButton class="form-button-blue normal loader" (click)="onSaveAndValidate()">
          <span>{{ 'Save' | translate }}</span>
        </button>
        <button pButton class="form-button-default normal" (click)="onCancel()">{{ 'Cancel' | translate }}</button>
      </div>
    </ng-container>
  </div>
  <p-dialog [(visible)]="bulkDownloadModal" [closeOnEscape]="true" [dismissableMask]="true" [showHeader]="false"
    [modal]="true" styleClass="blue" closeIcon="false" [style]="{width: '645px'}" (onHide)="bulkDownloadModal = false">
    <div class="header">
      <div>
        <h4>{{ 'BulkDownload' | translate }}</h4>
      </div>
      <span class="material-symbols-rounded" (click)="bulkDownloadModal = !bulkDownloadModal">close</span>
    </div>
    <div class="content" [formGroup]="bulkDownloadForm">
      <div class="form-input-field w-auto">
        <div><span>{{ 'Employees' | translate }}</span></div>
        <p-multiSelect appendTo="body" formControlName="employees" [options]="payrunEmployeeOptions" [filter]="true"
          [selectionLimit]="selectionLimit" [maxSelectedLabels]="maxSelectedLabels" optionLabel="label"
          optionValue="value" [placeholder]="'Select' | translate" styleClass="blue filter" display="chip"
          [showClear]="true" (onChange)="onChangeBulkDownloadEmployees($event)">
          <ng-template pTemplate="footer">
            <div class="ms-footer">
              <b> {{ form.get('employees')?.value ? form.get('employees')?.value?.length : 0 }} </b>
              <span>{{ 'item' | translate }} {{ (form.get('employees')?.value ? form.get('employees')?.value?.length
                : 0)
                > 1 ? 's' : '' }}
                {{ 'selected' | translate }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
        <div class="error"></div>
      </div>
      <div class="form-input-field">
        <div><span>{{ 'PayPoints' | translate }}</span></div>
        <p-multiSelect appendTo="body" formControlName="payPoints" [options]="payPoints" [filter]="true"
          optionLabel="label" [placeholder]="'Select' | translate" styleClass="blue" display="chip" [showClear]="true"
          [filter]="true">
          <ng-template pTemplate="footer">
            <div class="ms-footer">
              <b> {{ form.get('payPoints')?.value ? form.get('payPoints')?.value?.length : 0 }} </b>
              <span>{{ 'item' | translate }} {{ (form.get('payPoints')?.value ? form.get('payPoints')?.value?.length
                : 0)
                > 1 ? 's' : '' }}
                {{ 'selected' | translate }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
        <div class="error"></div>
      </div>
      <div class="form-input-field-group">
        <div *ngIf="currentCountryISOCode === countryISOCodeType.ZA" class="form-input-field">
          <div><span>{{ 'IncludeEMP201' | translate }}</span></div>
          <p-inputSwitch formControlName="includeEMP201" styleClass="blue"></p-inputSwitch>
        </div>
        <div *ngIf="documentDownloadType === 0 && payrunEmployeeOptions?.length < 250" class="form-input-field">
          <div><span>{{ 'MergeIntoSinglePDF' | translate }}</span></div>
          <p-inputSwitch formControlName="mergePdf" styleClass="blue"></p-inputSwitch>
        </div>
      </div>
      <div class="form-buttons">
        <button pButton class="form-button-blue normal" (click)="onBulkDownload()">{{ 'Save' | translate }}</button>
        <button pButton class="form-button-default normal" (click)="onCancelBulkDownload()">{{ 'Cancel' | translate
          }}</button>
      </div>
    </div>
  </p-dialog>
  <ng-template #loading>
    <div class="loading-container blue">
      <i class="pi pi-spin pi-spinner"></i>
      <span>Loading..</span>
    </div>
  </ng-template>
</div>