:root {
  --colour-element-white-bg-1: #fafafa;
  --colour-element-white-bg-2: #fefefe;
  --colour-element-white: #ffffff;
  --colour-element-disabled: #cccccc;
  --colour-input-border: #d1d1d1;
  --colour-element-black-0: #000000;
  --colour-element-black-1: #333333;
  --colour-element-black-2: #666666;
  --colour-element-gray-1: #808080;
  --colour-element-gray-2: #b8b8b8;
  --colour-element-gray-3: #d1d1d1;
  --colour-element-gray-4: #d4d4d4;
  --colour-element-gray-5: #efefef;
  --colour-element-gray-6: #f9f9f9;
  --colour-element-gray-7: #ededed;
  --colour-element-blue-1: #477bf0;
  --colour-element-blue-2: #5e93f0;
  --colour-element-blue-3: #64adf5;
  --colour-element-blue-4: #e4effd;
  --colour-element-red-0: #f55555;
  --colour-element-red-1: #fe6868;
  --colour-element-red-2: #ff7e83;
  --colour-element-red-5: #fff6f6;
  --colour-element-orange-1: #ff854a;
  --colour-element-orange-2: #fe9563;
  --colour-element-orange-3: #ffb154;
  --colour-element-orange-5: #feedd8;
  --colour-element-orange-6: #fff7ec;
  --colour-element-cyan-1: #37b7ca;
  --colour-element-cyan-2: #69e9fd;
  --colour-element-cyan-5: #e4f9fb;
  --colour-element-cyan-6: #f3fcfd;
  --colour-element-yellow-0: #f0b419;
  --colour-element-yellow-1: #ffeec0;
  --colour-element-yellow-5: #fff9e8;
  --colour-element-green-0: #16ac3c;
  --colour-element-green-1: #3EC961;
  --colour-element-green-2: #31c055;
  --colour-element-green-3: #60eb65;
  --colour-element-green-3-1: #60eb65;
  --colour-element-green-3-2: #6dd35d;
  --colour-element-green-4: #a4dcb2;
  --colour-element-green-5: #c6f1d1;
  --colour-element-green-6: #f4fdf2;
  --colour-element-green-7: #96B0A3 ;
  --colour-element-violet-0: #895f95;
  --colour-element-violet-1: #bc73d1;
  --colour-element-violet-2: #c078d4;
  --colour-element-violet-5: #f7e1fd;
}
