<div class="company-profile-dialog-office-container">
  <p-dialog [(visible)]="showModal" [closeOnEscape]="true" [dismissableMask]="true" [showHeader]="false" [modal]="true" styleClass="red" closeIcon="false" [style]="{width: '490px'}" (onHide)="modalChange.emit(false)" styleClass="red">
    <div class="header">
      <div>
        <span class="material-symbols-rounded">add_location</span>
        <h4>{{ 'Add office' | translate }}</h4>
      </div>
      <span class="material-symbols-rounded" (click)="showModal = !showModal">close</span>
    </div>
    <div class="content">
      <div class="form-fields">
        <div class="form-input-field">
          <div><span>{{ 'Office name' | translate }}</span></div>
          <input kp-autoFocusField type="text" pInputText class="red" />
          <div class="error"></div>
        </div>
        <div class="form-input-field">
          <div><span>{{ 'Address' | translate }}</span></div>
          <textarea class="red" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
          <div class="error"></div>
        </div>
        <div>{{ 'Assign employees to this office' | translate }}</div>
        <div class="add-everyone" (click)="onAddEveryone()">
          <span class="material-symbols-rounded">add</span>
          <span>{{ 'Add everyone' | translate }}</span>
        </div>
        <kp-input-multiple-select-chip styleClass="red"></kp-input-multiple-select-chip>
      </div>
      <div class="form-buttons">
        <button pButton class="form-button-red">{{ 'Save changes' | translate }}</button>
        <button pButton class="form-button-default" (click)="modalChange.emit(false)">{{ 'Cancel' | translate }}</button>
      </div>
    </div>
  </p-dialog>
</div>