<div class="payroll-settings-container">
  <div class="header">
    <h3>Settings</h3>
  </div>
  <div class="content">
    <p-tabView styleClass="blue" (onChange)="handleTabChange($event)" [activeIndex]="activeTabmenu">
      <p-tabPanel header="Pay Periods">
        <kp-payroll-settings-payperiods></kp-payroll-settings-payperiods>
      </p-tabPanel>
      <p-tabPanel header="Pay Types">
        <kp-payroll-settings-paytypes></kp-payroll-settings-paytypes>
      </p-tabPanel>
      <p-tabPanel header="Calculation">
        <kp-payroll-settings-calculations></kp-payroll-settings-calculations>
      </p-tabPanel>
      <p-tabPanel header="Payslips">
        <kp-payroll-settings-payslips></kp-payroll-settings-payslips>
      </p-tabPanel>
      <p-tabPanel header="Bank">
        <kp-payroll-settings-bank></kp-payroll-settings-bank>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>